html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'airnb';
    src: url('assets/font/airnb/AirbnbCerealLight.ttf') format('truetype');
}

@font-face {
    font-family: 'airnbBold';
    src: url('assets/font/airnb/AirbnbCerealBold.ttf') format('truetype');
}

body {
    font-family: 'airnb';
}

.navbar {
    display: none;
}

/* Navbar */
.container {
    margin: 20px auto;
}

.food {
    margin-left: 100px;
    font-family: 'airnbBold';
}

.cart {
    position: relative;
    font-family: 'airnbBold';
    font-size: 25px;
    margin-left: -80px;
}

.cart span {
    position: absolute;
    background-color: rgb(47, 213, 255);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
    top: 2px;
    left: 60px;
}

.search {
    margin-left: 200px;
}

.menu {
    margin-right: 150px;
    margin-left: -55px;
}


.clipboard,
.fork,
.add {
    margin-left: -48px;
}

.tablet {
    display: none;
}

.add:hover {
    cursor: pointer;
}

.adds:hover {
    cursor: pointer;
}



.menu,
#food,
#cart {
    display: inline-block;
}

/* Gambar Menu */
.pictures {
    background-color: rgba(190, 195, 202, 0.3);
    width: 570px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(190, 195, 202, 0.3);
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.food-items {
    display: inline-block;

}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.food-name .name {
    line-height: 27px;
}

.food-name .price {
    margin-top: -20px;
    font-weight: bold;
}

.food-restaurant {
    margin-left: 70px;
    background-image: url('assets/img/test.svg');
    background-repeat: no-repeat;
}

p.satu {
    margin-top: 150px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
}

p.dua {
    margin-left: -18px;
    margin-top: -20px;
    font-size: 13px;
    opacity: .5;
}

#add-itemsLabel {
    font-family: 'airnbBold';
    font-size: 25px;
}

.modal-body input,
#category {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.add-btn {
    background-color: #57cad5;
    width: 100px;
}

.cancel-btn {
    width: 100px;
    background-color: #f24f8a;
}

.modal-body {
    font-family: "airnbBold";
}


/* Media Query */
/* Tablet */
@media(max-width:992px) {

    /* Navbar */
    .menu {
        margin-left: 0px;
    }

    .tablet {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }


    .food {
        display: none;
    }

    .clipboard {
        display: none;
        margin-left: -6px;
    }

    .fork,
    .add {
        margin-left: 0px;
        display: none;
    }

    .cart {
        font-size: 25px;
        margin-left: -150px;
    }

    /* Gambar Menu */
    .pictures {
        background-color: rgba(190, 195, 202, 0.3);
        width: 380px;
    }

    .food-restaurant {
        width: 150px;
        margin-left: 20px;
    }

    p.satu {
        margin-left: 0px;
        font-size: 20px;
    }

    p.dua {
        margin-left: -14px;
        font-size: 12px;
    }

}

/* Phone */

@media(max-width:768px) {
    .tablet {
        display: none;
    }

    .food-mobile {
        font-family: 'airnbBold';

    }

    .navbar {
        display: inline-block;
        width: 100%;
        text-align: right;
    }

    /* Gambar Menu */
    .pictures {
        background-color: rgba(190, 195, 202, 0.3);
        width: 450px;
    }

    .food-items {
        width: 200px;
        margin-left: 20px;
    }

    .nav-container {
        display: none;
    }

    .food-restaurant {
        display: none;
    }

    .carts {
        margin: 70px 18px;
        background-color: rgb(233, 227, 227);
        width: 93%;
        height: 40px;
        position: relative;
    }

    .cart i {
        position: relative;
    }

    .cart {
        position: absolute;
        left: 190px;
        line-height: 40px;
    }

    .cart .badge {
        position: absolute;
        background-color: rgb(47, 213, 255);
        top: 11px;
        left: 80px;
        font-size: 12px;
        padding: 5px 10px;
    }

    .cart::after {
        content: url('assets/img/test.svg');
        margin-left: 30%;
    }

    .carts::after {
        content: 'Your cart is empty';
        font-weight: bold;
        font-size: 30px;
        margin-left: 23%;
        position: absolute;
        top: 190px;
    }

    .badge::after {
        content: 'Please add some items from the menu';
        font-weight: bold;
        font-size: 15px;
        position: absolute;
        top: 230px;
        left: -24px;
        color: black;
        opacity: .4;

    }
}