* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "airnb";
  src: url("assets/font/airnb/AirbnbCerealLight.ttf") format("truetype");
}

@font-face {
  font-family: "airnbBold";
  src: url("assets/font/airnb/AirbnbCerealBold.ttf") format("truetype");
}

body {
  font-family: "airnb";
}

/* Collapse */
.navbar {
  display: none;
}

/* Menu Header */
.menu-header {
  /* background-color: darkcyan; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60px;
  font-family: "airnbBold";
}

.menu,
.text-header h4,
.cart-header h4,
.search {
  line-height: 60px;
}

/* Sidebar Kiri */
.sidebarKiri {
  /* background-color: darkmagenta; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side .search {
  display: none;
}

.side img:hover {
  cursor: pointer;
}

/* Galery */
.galery {
  overflow: hidden;
  background-color: rgba(190, 195, 202, 0.3);
  padding-top: 10px;
  /* margin-left: -0px; */
}

.card,
.card-img-top {
  border-radius: 10px 10px 0 0;
}

.textcard p {
  font-size: 18px;
  margin-top: 3px;
}

.textcard h3 {
  font-weight: bold;
  margin-top: -15px;
  font-size: 26px;
}

/* Cart Immage */
.img-cart {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-cart p {
  font-size: 13px;
  opacity: 0.7;
}

.text-cart h3 {
  font-family: "airnbBold";
}

/* Modal */
.modal-title,
.modal-body {
  font-family: "airnbBold";
}

.add-btn,
.cancel-btn {
  width: 100px;
}

/* Break-Point */
@media (max-width: 1024px) {
  .menu-header {
    display: none;
  }

  .sidebarKiri {
    height: 70px;
    position: fixed;
    bottom: 0;
    z-index: 3;
    background-color: rgb(224, 220, 220);
  }

  .side {
    line-height: 70px;
  }

  .side img {
    width: 40px;
    margin-top: -100px;
  }

  .side .search {
    display: inline-block;
    margin-top: 8px;
  }

  .img-cart {
    height: 100vh;
  }

}

/* Tablet */
@media (max-width: 768px) {
  body {
    position: relative;
  }

  .menu-header {
    display: none;
  }

  .side {
    line-height: 70px;
  }
}

/* Phone */
@media (max-width: 600px) {
  .menu-header {
    display: none;
  }

  .sidebarKiri {
    display: none;
  }

  .phone {
    width: 100%;
  }

  .navbar {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-family: "airnbBold";
  }
}